         .list_font { font-size : 2rem; 
                      background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 128, 0, 1)), to(rgba(51, 51, 51, 1))); 
                      -webkit-background-clip: text;
                      -webkit-text-fill-color: transparent;
                    }
         #Login { display: none;}
         #Sign_Up { display: none;}
         #User { display: none; max-width: 80px; 
                 text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
                 /*名字过长隐藏*/
         #Logoff { display: none;}