  #canvas{
      display: block;
      width: 640px;
      height: 640px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 1px solid #000;
  }
  #mycolor{
  	  width: 120px;
      cursor: move;
      user-select: none;
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
       /* No support for these yet, use at own risk */
       -o-user-select: none;
      text-align: center;
      position: fixed;
      top: 0;
      right: 0px;
      border:1px solid rgb(230,230,230);
      /*border-radius: 2%;*/
      background:-webkit-linear-gradient(60deg,rgba(250,250,250,1) 25%,rgba(210,210,210,1));
  }
  #colorlist .colors{
      cursor: pointer;
      width : 40px;
      height: 40px;
      border: 0px ;
      padding: 0;
  }

  #colorlist .colors.active
  {
  	  width : 48px;
      height: 48px;
  }
  #colorlist dt { margin-top: 4px; margin-bottom: 4px; font-size: 20px; font-family: 宋体; }
  #colorlist span {  font-size: 14px;  }
  #controlArea {  margin: 0 auto;  margin-top: 4px;}
  .controlDiv
  {   
  	  width: 100px;
  	  min-height: 30px;
   	  border: 1px solid rgb(220,220,220);
  	  border-radius: 4%;
  	  background: rgb(240,240,240);
  	  margin: 0 auto;
  	  margin-top : 10px;
      cursor: pointer;
      transition: 0.5s;
  }
  .controlDiv:hover{
    background-color: rgb(200,200,200);
    transition: 0.5s;
  }
#export { position: relative; }
#btn-download:after{
  
  width: 100px;
  border-bottom-left-radius:10%;
  border-bottom-right-radius: 10%; 
  overflow: hidden;
  display: block;
  position: absolute;
  background-color: #fff;
  top:32px;
  content: "将当前画布内容导出到另外一个页面.";
}
#btn-download:after{
  height: 0;
  transition: 0.5s;
}
#btn-download:hover:after{
  height: 60px;
  transition: 0.5s;
}
