    #console { width: 100%; height: 80%; background: #000000; overflow-x: hidden;}
    #console > p { color: white; font-family: 微软雅黑; 
                  line-height: 22px; min-height: 22px; font-size: 14px; 
                  margin-left: .8px;
                  margin-bottom: 0px;
                   word-break:break-all; } 
    #control_div { width: 100%; height: 14%; margin: 0 auto;  background: black; }
     #button_area { width: 34%; height: 100%; float: left; background: rgb(204,207,203);  }
      .button { 
               width: 26%; height:26%; 
               background:rgb(236,239,240) ; 
               border: 1px solid rgb(108,108,112); 
               border-radius:10%;
               float: left; 
               margin-top: 4%;
               margin-left: 24px;
               cursor: pointer;
               text-align: center;
               font-size: 0.9vw;
             }
     #register { width:66%; height: 100%; float: left; background: rgb(204,207,203); }
      #register dd{  
                    width: 8.6%; 
                    height: 30px;
                    border-radius:10%;
                    background:rgb(239,236,230) ; 
                    margin-top:1.6%;  
                    margin-left: 3%; 
                    float: left;
                    text-align: center; 

                } 
     #register dd > p { color: black; line-height: 30px;  font-size: 0.9vw; }
     #register dd > p > span { width: 40px; height: 26px; margin-left: 4px;  background:rgb(246,246,246); font-size: 0.9vw;}
     .rel { position: relative;}
     .abs { position: absolute;}