    
    #content { width: 90%; height: 100%; margin: 0 auto;  }
    .TEC { width: 48%; height: 90%; margin-left: 2%; float: left;}
    .TEC:hover .console { box-shadow:0 0 40px #969696; }
    .console { width: 100%; height: 80%; background: #000000; margin: 0 auto; overflow-x: hidden;}
    .console  p { color: white; font-family: 微软雅黑; line-height: 22px; min-height: 22px; font-size: 14px;
                  margin-left: .8px;
                  margin-bottom: 0; 
                  word-break:break-all; } 
    
    #control_div { width: 100%; height: 24%; margin: 0 auto; background: black; }
    #button_area { width: 34%; height: 100%; float: left; background: rgb(204,207,203);}
     .button { 
               width: 100px; height: 24px; 
               background:rgb(236,239,240) ; 
               border: 1px solid rgb(108,108,112); 
               border-radius:10%;
               float: left; 
               margin-top: 2.6%;
               margin-left: 24px;
               cursor: pointer;
               text-align: center;
             }
    .register { width:66%; height: 100%; float: left; background: rgb(204,207,203); }
    .register dd{  
                    width: 80px; 
                    height: 30px;
                    border-radius:10%;
                    border: 1px solid rgb(240,240,240); 
                    background:rgb(239,236,230) ; 
                    margin-top:1.6%;  
                    margin-left: 3%; 
                    float: left;
                    text-align: center;
                } 
    .register dd > p { color: black; line-height: 30px;}
    .register dd > p > span { width: 40px; height: 26px; margin-left: 4px;  background:rgb(246,246,246); }
    
    .rel { position: relative;}
    .abs { position: absolute;}