.button{ width:40%; 
  	       height:30%; 
  	       background:#FFF;border:1px solid #000;
  	       text-align:center;
  	       cursor:pointer;}

#content 
{             width:80%;height:56%;margin:10px auto;border:0.6px solid #000;  
              border-top-left-radius:  2%;
              border-top-right-radius: 2%;
              position:relative;
              background: rgb(248,248,248);
}

/* 按钮区域*/
 #button_div{ width:20%;height:40%; font-size: 1.06rem;
              position:absolute; 
              top:0; left:0; 
             }
   #button_div .button { border-radius:20px; line-height: 3;}
   #button_div .button:nth-of-type(1){  margin:6% auto; }
   #button_div .button:nth-of-type(2){  margin:4% auto; }

/* 输入区域D  R0-R15*/
 #data_div {width:19.6%;height:60%; position:absolute; right:0;top:40%;border:1px solid rgb(220,220,220); }
 #data { width: 60%;} 
 .col { width: 48%;   float: left; }
 .col dd { margin-top: 2px; }
/*/结果区 包含ALU CZVS/*/
 #result_div{ width:60%;height:40%; 
 	          position:absolute;top:0; left: 20%;
            font-size: 1.2em;
            border: 1.6px solid rgb(230,230,230)}
 #CZVS{ width:100%;height:50%;margin:0 auto; background:rgb(248,248,248); }
   #CZVS dt{float:left;  margin-top: 2%;}
   #CZVS dl > dd{ width:20px;height:20px;background:red;float:left;margin-left:10px; margin-top: 2%;}
 #ALU{ width:100%;height:50%; background:rgb(248,248,248);}
   #ALU dt{float:left; }
   #ALU dl > dd:nth-of-type(1) { margin-left: 18px;}
   #ALU dl > dd{ float:left; margin-left:4px; text-align:center}
   #alu_span{margin-left:14px;letter-spacing:4px}
.light{ opacity:.1;border-radius:50%;  transition:.4s ease-in-out all; }
.light:hover { opacity: .8; box-shadow: 2px 2px 12px black;}
/*两排按钮*/
   #control_div{width:80%;height:60%; position:absolute; bottom: 0; left:0;}
    .control_row{ width:100%;height:38%; }
    #control_div .control_row:nth-of-type(1) { margin-top: 10px;};
    .info {width:100%;height:40%; }
    .info dd {  height: 30px; line-height: 30px;}
    .num {width:100%;height:40%;cursor:pointer}
   
    #control_div dl{  height: 30px; margin-bottom: 0; clear:both; }
    #control_div dl > dd{width:8%; height: 30px; float:left;border:1px solid #000;text-align:center}

